* {
	font-family: helvetica, sans-serif;
}
.header {
	color: blue;
}
input[type="submit"] {
	background: white;
	color: blue;
}
.email, .name, .quote, .context, .location, .tags {
	width: 20em;
}
.context {
	height: 5em;
}