* {
	font-family: helvetica, sans-serif;
}
.title {
	text-align: center
}
.subtitle {
	text-align: center;
	font-size: 10pt;
}
.email, .name, .quote, .context, .location, .tags {
	width: 20em;
}
.context {
	height: 5em;
	width:	30em;
}
