{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'report_it/logStyle.css' %}" />
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<h1 class="title">Report Details</h1>
<h2 class="subtitle">The information you provide here will generate an email for you to keep for your records.</h2>
<form method='post' class="pure-form pure-form-aligned">
    {% csrf_token %}
    <div class="pure-control-group">
        {{ form.as_p }}
    </div>
    <div class="wrapper">
        <input class="button" type="submit" value="Generate Email">
    </div>
</form>